%header#main-header.navbar.clearfix
  .container.lightly-padded
    %nav#site-nav.navbar.navbar-default{ role: :navigation }
      .container.pull-left
        .clearfix
          .profile-image
            =link_to root_path do
              %img{ src: '//gravatar.com/avatar/487ee72976701a1229e465dd12379908.png?size=100px', alt: 'profile picture' }
          .profile-info
            %p.name Eduardo Garibay-Frausto
            %p.profession Developer &amp; Gaming Enthusiast
            .social-media
              =link_to '//github.com/DrkCloudStrife', class: 'social' do
                %i.fa.fa-github-square
              =link_to '//twitter.com/DrkStrife', class: 'social' do
                %i.fa.fa-twitter-square
              =link_to '//twitch.tv/DrkStrife', class: 'social' do
                %i.fa.fa-twitch

      %ul.nav.navbar-nav.pull-right
        -# TODO: investigate parameter prepopulation for locale
        %li= link_to t('navigation.home'),
          root_path(locale: params[:locale]),
          class: current_page?(root_path(locale: params[:locale])) ? 'active' : nil

        %li= link_to t('navigation.about'),
          about_path(locale: params[:locale]),
          class: current_page?(about_path(locale: params[:locale])) ? 'active' : nil
