%header.text-header
  %h1.title A simple JavaScript maze game

.container
  :markdown
    I'm pretty excited to show my first JavaScript game, a simple maze puzzle.
    If you want to check it out go to my [projects](#{projects_path}) page,
    below I want to show the process I took into making it.

    I know there are many maze puzzle games out there and some are even 3D now,
    but I wanted to make something of myself with the knowledge I gathered
    across the years. This uses all native code and no third party libraries.
