%header.text-header
  %h1.title My thoughts on Battlefield Hardline Beta (PC/xbone)

.container
  .header-image= image_tag('articles/hardline-beta-header.jpg')

  :markdown
    I finally got to play [Battlefield Hardline](http://www.battlefield.com/hardline)
    with friends on the xbox one and I gotta say it's pretty fun. I'm a big
    Battlefield fan ever since I started playing Battlefield 2 for PC. I have always
    stayed within the PC realm on this type of game because it always felt more
    of a tactical game compared to other FPS games, not to mention better accuracy
    due to the mouse.

    Anyway, I just want to point out that I've played both PC and xbox one versions
    and I enjoy both equally. I'm already used to playing PC games without friends
    since everyone is on console, but I can't see myself enjoying this game on a
    console without any of my friends playing it. I do like that the game is
    in a much faster pace compared to other Battlefield games, but not too fast
    to be annoying. One of the main differences that I felt while playing the game
    on console, over the PC, is that there was this lack of teamwork with random
    players. At least on the PC, I felt there was more competitiveness on both
    ends and better teamwork regarless of not everyone using their mics.

    Will I be getting it day one? ~~Probably not, but I will at some point.~~
    I have already preordered it as most of my friends already bought it heh.
    I'm pretty excited about this game, and I hope it doesn't disappoints me,
    only sad part is that GTA V Heists is coming right around the corner :(


    Either way, I'm sure I'll be playing all of my other games so I won't get
    bored easily :D

  = render('layouts/shared/authorship')
