%header.text-header
  %h1.title My first thoughts on Destiny's Vault of Glass

.container
  .header-image= image_tag 'articles/destiny-vog.jpg'
  :markdown
    I joined Destiny a couple of months late, mid December. So I've been
    playing this game for about a month now, and I have to say I really
    enjoy it. It is rather repetitive, but it is all worth it when you
    have friends to play with. After reaching level 28, and having
    majority of Six Point Company [SPC](http://www.bungie.net/en/Clan/Xbox/725641)
    members get close to that level, we decided to try the Vault of Glass (VOG).

    Having no one to guide us through our first run was a tough challenge
    but after figuring out the puzzle we felt such an amazing reward. I have
    actually tried VOG three times and only officially completed it twice,
    both with my friends because of reasons (I'll get to it later).

    It was a tough task specially when not everyone knows what needs to be
    done, specially when it gets to the relic. Ideally I'm the one in charge
    of the Relic when we get to kill the templar. So it comes naturally for
    me to pick it up when it spawns, but when it comes to killing the final
    boss, Atheon, it's different. The person that picks the relic can be one
    of the three randomly selected players that get teleported within a portal.

    This is the part where you need people you know because they need to be
    able to understand the process to retrieve the relic from the portals.
    I tried this once with random people, but there was lack of communication
    and bad team coordination. This is the reason why I was unable to complete
    the raid with random people.

    Overall, now that we have got a better grip on VOG's raid, I enjoy it but
    wouldn't try it with random people unless I'm very well sure they know
    what they are doing.

    [See Our Results](http://www.bungie.net/en/Legend/PGCR/1/4611686018441993797/2305843009259486342/1490733961?_)
