%header.text-header
  %h1.title My first thoughts on Destiny's Vault of Glass

.container
  .header-image= image_tag 'articles/destiny-vog.jpg'
  :markdown
    I joined Destiny a couple of months late, mid December. So I've been
    playing this game for about a month now, and I have to say I really
    enjoy it. It is rather repetitive, but it is all worth it when you
    have friends to play with. After reaching level 28, and having
    majority of Six Point Company [SPC](http://www.bungie.net/en/Clan/Xbox/725641)
    members get close to that level, we decided to try the Vault of Glass (VOG).

    Having no one to guide us through our first run was a tough challenge
    but after figuring out the puzzle we felt such an amazing reward. I have
    actually tried VOG three times and only officially completed it twice,
    both with my friends because of reasons (I'll get to it later).

    [See Our Results](http://www.bungie.net/en/Legend/PGCR/1/4611686018441993797/2305843009259486342/1490733961?_)

  = render 'layouts/shared/authorship'
