%header.text-header
  %h3.title My first post

.container
  :markdown
    Why not start things off with a "My first post"? I'm super excited to have
    finally given myself time to complete my personal site. I know it will be
    a bumpy start and there will be a lot issues and changes, but that's part
    of the adventure. :D

    I wasn't sure how I wanted the page to look and I went with this simple
    design as a start. I doubt everything is final and I hope this will be
    an ongoing experience, not a project because there is no real end to it.

    Because my native language is spanish, I will be in the process of adding
    [I18n](http://en.wikipedia.org/wiki/Internationalization_and_localization)
    to the site. And if it becomes a thing, I might support even more languages
    if I get support from friends and other people interested. I will mainly
    write posts in english, but that is not going to stop me from allowing the
    interested to view and be able to navigate through my site.

    I'm thinking my next article will be about the process it took me to add
    internationalization/localization to the site (hint: I already started...)

  = render 'layouts/shared/authorship'
