%header.text-header
  %h2.title New Home

.container
  :markdown
    It's been a while since I've last updated my blog. I've been busy moving to
    a new place and haven't had time to really work on my site nor Ashley's.
    This is a very exciting move for me, as Ashley and I decided on buying a
    house where to move permanently. Now that I'm slowly settling down, I'm
    hoping to give myself more time to play games as well as keep learning
    C++ and work on her personal website. I'm hoping to add more projects on my
    projects tab soon.

    I've been wanting to improve my snake game to add a menu as well as actual
    scoring. I do plan on getting back to my maze game and finish it once I get
    more time to work on it and polish the idea for it. In the meantime, I'll
    keep working on the storefront of Ashley. I've been looking into hosting
    her website through Amazon AWS so I can also learn how to use that for
    future projects, and if all goes well, move my website there and use a
    proper database.

    That is all I have as an update for now, hope to be more active on my blog
    and provide more updates and hopefully share more of my progress and 
    findings on C++ and future projects I have in mind. I'm currently watching
    this youtube video of Bjarne Stroustrup about 
    [Learning and Teaching Modern C++](https://www.youtube.com/watch?v=fX2W3nNjJIo)
    which I think is a really good video to watch specially for students and
    even teachers. I really enjoy the message he delivers.


    Have a good one!
