-# WIP
%header.text-header
  %h1.title Meet Six Point Company

.container
  .header-image= image_tag 'articles/spc-header.jpg'
  :markdown
    I've been playing paintball since 2010, and it has never been the same
    before meeting these awesome guys. I've been a proud member of Six Point
    Company (SPC) since March and even though we only play once every other
    month, I always have a blast playing alongside and/or against them.

    There are more than 6 people in the team but we decided on Six Point Company
    since the six of us are the most active members. I guess I'm part of the
    foundation team. Despite not being the fastest nor the most athletic in the
    team, I feel I play a great support role.

    It all started with my cousin inviting me over to a paintball game. I had
    no idea what I was getting myself into, but once I did I fell in love with
    the sport. I started with a [Tippmann 98 Custom](http://en.wikipedia.org/wiki/Tippmann_98_custom)
    rental gun marker. That was when I decided to get my own gun and I decided
    to stay with Tippmann as I had a good experience with it. I slowly started
    upgrading the gun to a point where I was happy.

    Many years passed and I had not gone playing after my one year membership
    ended at [CPX Sports](http://cpxsports.com/) which I got when I bought the gun! :D
    I had thought I was no longer going to be able to play as I didn't had enough
    time nor people to play with. All this changed by end of March when I met
    these guys whose team name was "Team Bubba Gump" at the time. We went to
    [Paintball Explosion](http://www.pbbomb.com/) and we all played against eachother.

    It was a fun and reminiscing moment for me, we all had such a great time and now
    that I'm part of SPC I go play more often. Our team is not a pro-paintball
    team but we sure like to play tactical and have a great time. Whether is open
    play or private play we try to be fair with everyone. So far our favorite places
    to go play paintball are CPX and PB Explosion. We have also gone to
    [The Badlandz](http://www.thebadlandz.com/) but we had such a bad experience
    in the past. 

    Anywho, I really want to thank [Jonathan](http://instagram.com/john1022),
    Marco, David, Juan, and Ben for allowing me to be part of this amazing team.

  = render 'layouts/shared/authorship'
