%header.text-header
  %h2.title Still Alive, Just Busy

.container
  :markdown
    It's been a while since I've posted anything here, I've been busy so
    haven't had much time to add anything new. Lately I've been playing
    [FFXIV: A Realm Reborn](http://www.finalfantasyxiv.com/) with friends and
    my girlfriend. I've been enjoying the game so much and I regret taking
    so long to get the game. Aside from that, I've gone through a lot of games
    and I'm still alternating through them. I finally got to play Destiny's
    expansion House of Wolves and I got to say I enjoyed it. They added a lot
    of cool things to the game, but it was more for competitive play (PVP) and
    I'm more of a PVE person so that was a bit of a letdown.

    Another game I've been playing aside from Destiny is Battlefield Hardline,
    this one is definitely one of my favorite ones. It's a good fast paced game
    compared to other BF games I've played before, like I've said before on my
    previous [article](#{article_path('battlefield-hardline-beta')}).

    I will be adding a prototype I've been working on a new article in the near
    future, hopefully it'll be playable. It's going to be a small personal
    project I want to do with JavaScript, hopefully it'll be pretty lightweight
    and will do my best to not use any third party libraries. It's all part of
    the learning experience.

    Well that is all for now, thanks for reading. Til next time!
