%header.text-header
  %h1.title Totally did not stole ideas

.container
  :markdown
    I just wanted to be clear, I totally did not steal design ideas from 
    [Erik Schneider](http://schneiderik.com) nor from [Hide Obara](http://www.hideobara.com/).

    What kind of person would I be if I didn't had my own creativity right? I
    mean, just look at their site and compare to mine. Nothing alike, I swear!

    Just kidding, I did took a lot of ideas from their sites to build my page
    as it currently is, but that doesn't mean is final. As I mentioned in my 
    previous post, I will slowly start enhancing the site.
    A few of the things I want to add are:

    * Responsiveness (for mobile devices)
    * Internationalization  (for funsies)
    * Pagination (for when I hit article #15!)
    * Categories (to separate work from fun)
