%header.text-header
  %h2.title Totally hyped for Destiny 2, new side projects

.container
  :markdown
    I'm both sad and excited about Destiny 2. The main reason I'm going to be
    sad is that I will no longer play Destiny as much as I've currently have.
    I started playing Destiny  in [December 2014](#{article_path('destiny-vault-of-glass')}).
    The exciting part is that I will be playing Destiny 2 and exploring the
    world and lore that Bungie created. I'm excited to see what changes have
    been made and be able to continue playing a game I love.

    I'm currently taking a break on Destiny so I can catch up on work and help
    my fiancee with a personal project. Hope to be able to get it done in the
    next couple of weeks as I wait for Destiny 2 beta to arrive. She's also
    been very supportive with my Destiny addiction, so the least I can do is
    help her with hers :) As for her project, I'm hoping to have a simple shop
    for her because she wants to have more freedom on how to advertise her art.

    Hopefully with the shop, she can manage her product better, and don't have
    to pay fo royalty or listing fees from other third party online stores.
    Also, if she wants to feature something or share patterns for free, she can
    have the freedom to do all that. I'm really excited about it, and I will 
    start working with her on the design, which hopefully can help me get 
    better at that too since I don't have much UI/UX experience.
