%header
  %h1.title=t('pages.about.title')

%p
  Welcome to my page. My name is Eduardo and this is my personal page.
%p
  This site will be my little playground. I will use it for personal projects,
  as well as experimental so expect to see a little bit of everything.
