%header
  %h1.title=t('.title')

:markdown
  My name is Eduardo and this is my personal page.

  This site is my little playground. I use it for personal projects, as well as
  experiments so expect to see a little bit of everything. I mostly work with
  ruby on rails applications but I like to experiment with javascript and
  single-page apps too. When I'm not working on code I like to spend my day
  playing board games or video games (hence another reason why I took so long
  to get my page started).

  I have over 5 years experience in the field and I've worked with a great
  range of languages. I primarily work on Ruby on Rails but I also have strong
  knowledge of HTML, CSS, and JavaScript. I also have some knowledge with Java
  and Swift programming languages for developing Android and iOS apps.
