%header.subject-header
  %h1.title=t('.welcome')

.container.home-container
  %article
    .image-container.pull-left
      %i.fa.fa-file-text-o
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('still-alive') } Still Alive

      %p Jul 21, 2015

  %article
    .image-container.pull-left
      %i.fa.fa-gamepad
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('battlefield-hardline-beta') } Thoughts on Battlefield Hardline Beta

      %p Jan 17, 2015

  %article
    .image-container.pull-left
      %i.fa.fa-gamepad
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('destiny-vault-of-glass') } Thoughts on Destiny's Vault of Glass

      %p Jan 17, 2015

  %article
    .image-container.pull-left
      %i.fa.fa-file-text-o
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('six-point-company-paintball-crew') } Meet Six Point Company

      %p Nov 22, 2014

  %article
    .image-container.pull-left
      %i.fa.fa-file-text-o
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('my-first-open-source-project') } My first open source project

      %p Oct 20, 2014

  %article
    .image-container.pull-left
      %i.fa.fa-file-text-o
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('totally-did-not-stole-ideas') } Totally did not stole ideas

      %p Oct 16, 2014

  %article
    .image-container.pull-left
      %i.fa.fa-file-text-o
    .link-container
      %header.text-header
        %h2.title
          %a{ href: article_path('my-first-post') } My first post

      %p Oct 15, 2014
