%header.subject-header
  %h1.title=t('notification.welcome')

.container
  %article
    .image-container
      %i.fa.fa-file-text
    %header.text-header
      %h2.title
        %a{ href: article_path('my-first-post') } My first post
