.container.home-container
  #home-blog

- content_for :page_close do
  = javascript_pack_tag('home', 'data-turbolinks-track': 'reload')
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('2019-08-04-changes-under-the-hood') } Changes under the hood
  -#
  -#     %p Aug 04, 2019
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('new-home') } New Home
  -#
  -#     %p Mar 10, 2018
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('waiting-for-destiny-2') } Destiny 2 #hype
  -#
  -#     %p Jun 24, 2017
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('mei-is-bae') } A small gift from my future waifu
  -#
  -#     %p Aug 11, 2016
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('still-alive') } Still Alive
  -#
  -#     %p Jul 21, 2015
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-gamepad
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('battlefield-hardline-beta') } Thoughts on Battlefield Hardline Beta
  -#
  -#     %p Jan 17, 2015
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-gamepad
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('destiny-vault-of-glass') } Thoughts on Destiny's Vault of Glass
  -#
  -#     %p Jan 17, 2015
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('six-point-company-paintball-crew') } Meet Six Point Company
  -#
  -#     %p Nov 22, 2014
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('my-first-open-source-project') } My first open source project
  -#
  -#     %p Oct 20, 2014
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('totally-did-not-stole-ideas') } Totally did not stole ideas
  -#
  -#     %p Oct 16, 2014
  -#
  -# %article
  -#   .image-container.pull-left
  -#     %i.fa.fa-file-text-o
  -#   .link-container
  -#     %header.text-header
  -#       %h2.title
  -#         %a{ href: article_path('my-first-post') } My first post
  -#
  -#     %p Oct 15, 2014
