%header.subject-header
  %h1.title= t('.title')

.container.pages-container
  %table.table
    %tbody
      %tr
        %th
          %i.fa.fa-gamepad
        %td
          %a{ href: project_path('snake') } JS Snake
          \- A snake game made in JavaScript

      %tr
        %th
          %i.fa.fa-gamepad
        %td
          %a{ href: project_path('maze') } JS Maze
          \- Simple JavaScript Maze project
