%header.subject-header
  %h1.title= t('.title')

.container.pages-container
  %table.table
    %tbody
      %tr
        %th
          %i.fa.fa-gamepad
        %td
          %a{ href: project_path('snake') } JS Snake
          \- Simple JavaScript Snake project

      %tr
        %th
          %i.fa.fa-gamepad
        %td
          %a{ href: project_path('maze') } JS Maze
          \- Simple JavaScript Maze project
