.container
  %header.subject-header
    = link_to projects_path do
      %i.fa.fa-caret-left
      Go Back

  :markdown
    This is my first attempt to try to build a javascript maze. Though I didn't
    properly planned it, so it's all over the place. I don't think I will ever
    finish it, but I'm keeping it as a reference for future projects. I did
    learned a lot of things while building this prototype, It also helped me
    structure my javascript better.

  #viewport.text-center

  - content_for :page_close do
    = javascript_include_tag 'projects/maze'
    :javascript
      var maze = new DrkStrife.games.Maze()
