%header.subject-header
  = link_to projects_path do
    %i.fa.fa-caret-left
    Go Back

#viewport.container

- content_for :page_close do
  = javascript_include_tag 'projects/maze'
  :javascript
    var maze = new DrkStrife.games.Maze()
