.container
  %header.subject-header
    = link_to projects_path do
      %i.fa.fa-caret-left
      Go Back

  :markdown
    This snake game was my first canvas project. I built this for BenchPrep as
    an easter egg back in 2014. It was a small gesture that we added for people
    that were interested in the game center and took the time to visit the
    leaderboards. I didn't just copy and pasted this back from the original
    code I wrote, I've actually rewritten it from scratch to fix some of the
    issues that the existing game has. I hope you enjoy~ :)

  #viewport.text-center

  - content_for :page_close do
    = javascript_include_tag 'projects/snake'
    :javascript
      var app = new DrkStrife.games.Snake('#viewport')
