AUTHENTICATION_NAME: 'admin'
AUTHENTICATION_PASSWORD: 'password'

POSTGRES_USERNAME: 'drkstrife_site'
POSTGRES_PASSWORD: 'password'

AWS_ACCESS_KEY_ID: ''
AWS_SECRET_ACCESS_KEY: ''

ACTIVE_STORAGE_SERVICE: :local
