@use 'lib/colors' as *;

.article-container {
  ul {
    margin-left: 30px;
    margin-bottom: 15px;
    li {
      list-style-type: disc;
      line-height: 100%;
      padding: 3px 0;
    }
  }

  .text-header {
    box-sizing: border-box;
    margin: 10px 0px 15px;

    h2 {
      &.title {
        font-size: 175%;
        border-bottom: 1px;
        border-style: solid;
        border-color: $border;
      }
    }
  }

  .container {
    max-width: 720px;

    .header-image {
      max-width: 600px;
      img { max-width: 100%; }
      margin-bottom: 20px;
    }
  }
}
