@import '../lib/**/*';

code {
  font-family: courier, monaco, monospace;
  background-color: $border;
  color: #ffffff;
  border-radius: 2px;
  padding: 5px;
  text-shadow: 0 0 0 transparent;
  white-space: nowrap;
  font-size: 0.85em;
}
