header {

  h1, h2, h3 {
    &.title {
      font-size: 200%;
      line-height: 200%;
    }
  }

  &.subject-header {
    padding-bottom: 15px;
  }

  &.text-header {
    font-weight: bold;
    h1 { font-size: 175%; }
    h2 { font-size: 175%; }
    h3 { font-size: 150%; }
  }
}
