@import '../lib/**/*';

.home-container {
  article {
    border-bottom: 1px dashed $border;
    padding: 5px 0;

    &:last-child { border-bottom: none; }
  }

  .image-container {
    padding-right: 20px;

    i {
      font-size: 200%;
      line-height: 150%;
      color: $icon-color;
    }
  }

  .link-container {
    p {
      font-size: 0.75em;
      padding-bottom: 5px;
    }
  }
}
