@import '../lib/**/*';

.navbar {
  .profile-image {
    display: inline-block;
    vertical-align: top;
  }
  .profile-info {
    display: inline-block;
    padding: 0 0 0 10px;

    p {
      font-size: 95%;
      line-height: 125%;
      padding-bottom: 0px;

      &.name { font-weight: bold; }
    }

    .social-media {
      margin-top: 5px;

      a.social {
        color: #3b696d;
        font-size: 120%;
        text-decoration: none;
        margin: 2px;

        &:first-child { margin-left: 0; }
        &:hover { color: #699295; }
      }
    }
  }
  ul.nav {
    li {
      display: inline-block;
      padding: 0 10px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
