@import '../lib/**/*';

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  > tbody {
    > tr {
      > td,
      > th {
        padding: 5px;
        line-height: 1em;
        vertical-align: top;
        border-bottom: 1px solid $grey-666;
      }

      > th {
        text-align: left;
      }
    }
  }
}
