html, body {
  position: relative;
  height: 100%;
  font-family: sans-serif, 'Droid Serif';
  color: #707070;
}

body {
  & > .container {
    position: relative;
    max-width: 960px;
    min-width: 520px;
    min-height: 100%;
    margin: auto;
    padding: 0;
  }

  p {
    line-height: 125%;
    padding-bottom: 15px;
  }

  a {
    color: #989898;
    text-decoration: none;
    &:hover{
      color: #9b9b9b;
      text-decoration: underline;
    }
    &:active, &.active {
      color: #707070;
      text-decoration: underline;
    }
  }

  .pull-right { float: right; }

  .pull-left { float: left; }

  .clearfix {
    &:after {
      content: ' ';
      display: block;
      clear: both;
    }
  }

  .author {
    border-top: 1px dashed #3b696d;
    padding: 15px 0;
  }
}

footer {
  padding-top: 80px;
  text-align: center;
  width: 100%;
  margin: auto;
  vertical-align: bottom;
}
