@import 'lib/**/*';

html, body {
  position: relative;
  height: 100%;
  font-family: sans-serif, 'Droid Serif';
  color: $grey;
}

body {
  & > .container {
    position: relative;
    max-width: 960px;
    min-width: 520px;
    min-height: 100%;
    margin: auto;
    padding: 0;
    border-width: 0px 1px;
    border-style: solid;
    border-color: $border;
  }

  p {
    line-height: 125%;
    padding-bottom: 15px;
  }

  a {
    color: $grey;
    &:hover{
      color: $grey-hover;
      text-decoration: none;
    }
    &:active, &.active {
      color: $grey-active;
      text-decoration: none;
    }
  }

  .pull-right { float: right; }

  .pull-left { float: left; }

  .clearfix {
    &:after {
      content: ' ';
      display: block;
      clear: both;
    }
  }

  .author {
    border-top: 1px dashed $border;
    padding: 15px 0;
  }
}

footer {
  padding-top: 80px;
  text-align: center;
  width: 100%;
  margin: auto;
  vertical-align: bottom;
}
